<h1><%= @cocktail.name %></h1>

<h3>Ingrédients :</h3>

  <%#= @cocktail.ingredient.each do || %>

  <%#= end %>

<%= link_to 'Add an ingredient', new_cocktail_dose_path(@cocktail) %>
<br>
<%= link_to 'See all cocktails', cocktails_path %>
